<!DOCTYPE html>
{% extends 'core/base.html'%}

{% load static %}

{% block contenido %}
<br><br><br><br><br><br
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Inicio de sesion</title>
</head>
<body>
<div class="container">
    <div class="login-ini">
        <h2>Datos de Usuarios</h2>
        {% load crispy_forms_tags %}
        <form class="login" action="" method="POST">
            {% csrf_token %}
            <table>
                {{ form | crispy }}
            </table>
            <input type="submit" value="Ingresar" class="btn btn-primary">
            <input type="button" style="position: relative; left: 86%;" class="button_active btn btn-success"
                onclick="location.href='{% url 'home' %}'" value="Volver">
        </form>
    </div>
</div>
</body>
</html>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
