<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Maipo Grande - Feria Virtual</title>
{% load static %}
<meta name="description" content="Mas que calidad un sabor distinto"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href="{% static 'core/css/screen.css' %}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic|Playfair+Display:400,700,400italic,700italic"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body class="home-template">
<div class="site-wrapper">
    <img class="img-fluid" src="{% static '../../static/core/img/banner-02.png' %}" alt="" width="300" height="200" >

	<nav class="main-nav overlay clearfix">
	   
        <ul id="menu">
            <li class="nav-home nav-current" role="presentation"><a href="{% url 'home' %}">Inicio</a></li>
            <li class="nav-home nav-current" role="presentation"><a href="{% url 'show_tienda' %}">Tienda</a></li>
            
            {% if perms.core.add_producto %}<!-- Productor-->
            <li class="nav-about-us" role="presentation"><a href="{% url 'productos' %}">Productos</a></li>
            <li class="nav-about-us" role="presentation"><a href="{% url 'listado_proceso_venta' %}">Proceso de Venta</a></li>
            <li class="nav-home nav-current" role="presentation"><a href="{% url 'registrar_subasta' %}">Subasta</a></li>
            <li class="nav-about-us" role="presentation"><a href="{% url 'perfil_productor' %}">Perfil</a></li>
            {% endif %}
            {% if perms.core.add_solicitudventa %}<!-- Cliente Externo-->
            <li class="nav-about-us" role="presentation"><a href="{% url 'listado_solicitud_venta' %}"> Solicitud Venta </a></li>
            <li class="nav-about-us" role="presentation"><a href="{% url 'perfil_cliente_externo' %}">Perfil</a></li>
            {% endif %}
            {% if perms.core.view_saldo %}<!-- Cliente Interno-->
            <li class="nav-about-us" role="presentation"><a href="{% url 'perfil_cliente_interno' %}">Perfil</a></li>
            {% endif %}
            {% if perms.core.view_transportista %}<!-- Transportista-->
            <li class="nav-about-us" role="presentation"><a href="{% url 'listado_subasta' %}">Subastas disponibles</a></li>
            <li class="nav-about-us" role="presentation"><a href="{% url 'perfil_transportista' %}">Perfil</a></li>
            {% endif %}
            
            {% if user.is_authenticated %}
            <li class="nav-about-us" role="presentation"><a href="#">Usuario: {{ user.username}}</a></li>
            <li class="nav-about-us" role="presentation"><a href="{% url 'logout' %}">Cerrar Sessión</a></li>
            {% else %}
            <li class="nav-article-example" role="presentation"><a href="{% url 'registrar' %}">Registro</a></li>
            <li class="nav-about-us" role="presentation"><a href="{% url 'login' %}">iniciar sesion</a></li>
            {% endif %}
        </ul>
		
	</nav>
    
	<main id="content" class="content" role="main">
            <div>
                {% block contenido %}

                {% endblock %}
            </div>
    </main>
    
	<footer class="site-footer clearfix">
	<a id="back-to-top" class="back-top"></a>
	<div class="text-center">
		<a href="/">Maipo Grande</a> &copy; 2020<br/>
	</div>
	</footer>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="assets/js/masonry.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="assets/js/index.js"></script>
</body>
</html>