<!DOCTYPE html>
{% extends 'core/base.html'%}

{% load static %}

{% block contenido %}

<div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <!--Ver como llamar una bbdd desde python-->
        <h2> Listado de Productos </h2>
        <a href="{% url 'registrarproducto' %}"><input type="reset" value="Agregar Producto" class="btn btn-info"></a>
        <table class="table">
                <tr>
                        <td>ID_PROD</td>
                        <td>NOM_PROD</td>
                        <td>PRECIO_PROD</td>
                        <td>PESO_PROD</td>
                        <td>CALIDAD_PROD</td>
                        <td></td>
                        <td></td>
                        <!--<td>PRODUCTOR_RUT_PRODUC</td> -->
                </tr>
                {% for p in productos %}
                <tr>
                        <td>{{ p.id_prod }}</td>
                        <td>{{ p.nom_prod }}</td>
                        <td>{{ p.precio_prod }}</td>
                        <td>{{ p.peso_prod }}</td>
                        <td>{{ p.calidad_prod }}</td>
                        <td>
                            <a href="{% url 'modificarproducto' id=p.id_prod %}"><input type="reset" value="Modificar" class="btn btn-info"></a>
                            <a href="{% url 'eliminarproducto' id=p.id_prod %}"><input type="reset" value="Eliminar" class="btn btn-info"></a>
                        </td>
                        
                </tr>
                        
                {% endfor %}
        </table>
</div>

{% endblock %}

<!-- <td><form action="{% url 'modificar-producto' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" id="modificar" name="modificar" value="{{p.0}}" ><button type="submit">Modificar</button> </form></td>
                        <td><form action="{% url 'eliminar' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" id="eliminar" name="eliminar" value="{{p.0}}"><button type="submit" >Eliminar</button> </form></td>
                        <!--<td>{{ p.5 }}</td> -->